<h1>Admin Panel</h1>
<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'orders'}}active{{/ifCond}}" href="/admin/orders">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'foods'}}active{{/ifCond}}" href="/admin/foods">Foods</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'categories'}}active{{/ifCond}}" href="/admin/categories">Categories</a>
  </li>
</ul>